body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.header > .navbar {
  text-align: center;
  width: 33%;
  margin: 10px;
  padding: 20px;
}

.header-form {
  display: flex;
  align-items: center;
}

.header-form > input {
  font-size: 1.5em;
  width: 100%;
}

.header-form > input[type="submit"] {
  font-size: 1.5em;
  width: 20%;
}

#signUp {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
}

#signUp:hover {
  color: white;
}

.nav-links {
  display: inline-block;
  text-align: right;
  width: 99%;
  background-color: black;
  margin: 0;
  padding: 1%;
}

.nav-links li {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  width: 100%;
  padding: 1%;
  margin: 0;
  color: white;
}

.nav-links li a:hover {
  background-color: white;
  color: black;
}
