body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.header {
  display: flex;
  background-color: red;
}

.header > .navbar {
  width: 33%;
  margin: 10px;
  padding: 20px;
}

.header-form {
  padding-top: 10%;
}

.header-form > input {
  width: 100%;
}

.nav-links {
  display: inline-block;
  float: right;
}

.nav-links li {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  width: 100%;
  padding: 6px;
  margin: 0;
  color: white;
}

.nav-links li a:hover {
  background-color: black;
}
